demo/.ipynb_checkpoints/Downsample CID-checkpoint.ipynb
demo/.ipynb_checkpoints/Tutorial - moran's I-checkpoint.ipynb
demo/.ipynb_checkpoints/Tutorial - plot examples-checkpoint.ipynb
demo/.ipynb_checkpoints/Tutorial - predefined regions-checkpoint.ipynb
demo/.ipynb_checkpoints/Version numbers-checkpoint.ipynb
/demo/Code/__pycache__
demo/.DS_Store
/demo/Data
build/lib/SplIsoFind/__init__.py
build/lib/SplIsoFind/moransI.py
build/lib/SplIsoFind/plotting.py
build/lib/SplIsoFind/preprocess.py
dist/splisofind-0.1.1-py3-none-any.whl
dist/splisofind-0.1.1.tar.gz
dist/splisofind-0.1.2-py3-none-any.whl
dist/splisofind-0.1.2.tar.gz
dist/splisofind-0.1.3-py3-none-any.whl
dist/splisofind-0.1.3.tar.gz
docs/_build/
src/SplIsoFind.egg-info/dependency_links.txt
src/SplIsoFind.egg-info/PKG-INFO
src/SplIsoFind.egg-info/requires.txt
src/SplIsoFind.egg-info/SOURCES.txt
src/SplIsoFind.egg-info/top_level.txt
src/SplIsoFind/__pycache__/__init__.cpython-39.pyc
src/SplIsoFind/__pycache__/moransI.cpython-39.pyc
src/SplIsoFind/__pycache__/plotting.cpython-39.pyc
src/SplIsoFind/__pycache__/preprocess.cpython-39.pyc
src/SplIsoFind/__pycache__/spatially_variable.cpython-39.pyc
