demo/.ipynb_checkpoints/Downsample CID-checkpoint.ipynb
demo/.ipynb_checkpoints/Tutorial - moran's I-checkpoint.ipynb
demo/.ipynb_checkpoints/Tutorial - plot examples-checkpoint.ipynb
demo/.ipynb_checkpoints/Tutorial - predefined regions-checkpoint.ipynb
demo/.ipynb_checkpoints/Version numbers-checkpoint.ipynb
/demo/Code/__pycache__
demo/.DS_Store
/demo/Data
